header, nav, footer, article {display:block;}

body
{
	background-color: #052F6D;
    font-size: 75%;
    font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

.ui-draggable, .ui-droppable {
    background-position: top;
}

header
{
    position: absolute;
    left: 1px;
    width: 225px;
    border-radius: 10px;
    border-bottom: solid 2px #3c71be;
    border-top: solid 1px #458ce4;
    background-color: #052F6D;
    padding-left: 10px;
}

article 
{
	position: absolute;
	left: 250px;
	top: 80px;
	width: 730px;
    /*height: 750px;*/
	background-color: #fff;
	font-family: calibri;
	line-height: 1.1em;
	padding: 0px 5px 5px 5px;
    border: solid 2px #3c71be;
	border-radius: 10px;
    z-index: -1;
}

footer 
{
	height: 100px;
}

h2 {
	padding: 10px 10px 10px 10px;
	font-size: 1.2em;
    font-family: sans-serif;
    border: solid 1px #437DD4;
    border-radius: 4px;
}

h3 {
    padding: 10px 10px 5px 10px;
    font-family: sans-serif;
	font-size: 1.2em;
	border-bottom: solid 1px #437DD4;
}

h4 {
    padding: 10px 10px 5px 10px;
    font-family: sans-serif;
	font-size: 1em;
    border-bottom: solid 1px #6A94D4;
}

h5 {
	font-size: 1em;
}

dt {
	font-weight: bold;
    font-family: sans-serif;
    font-size: 1em;
    color: #437DD4;
	/*background-color: #437DD4;*/
	padding: 10px 10px 10px 10px;
}

dd
{
    border-left: solid 1px #6A94D4;
    /*border-right: solid 1px #6A94D4;*/
    border-radius: 5px;
    padding: 5px 5px 5px 15px;
}

p.image, #image
{
	padding: 10px 10px 10px 10px;
}

p.note, #note
{
    font-family: sans-serif;
    font-size: 0.85em;
    padding-left: 20px;
}

div.form-element, #form-element
{
    margin: 5px 1px 5px 1px;
    border: solid 1px #96a4ac;
    border-radius: 5px;
    padding: 1px 10px 1px 10px;
}

a {
	color: #241c1c;
}

a:link {
	text-decoration: none;
	color: blue;
}

a:visited {
	text-decoration: none;
	color: #121e6c;
}

a:active {
	text-decoration: none;
	color: red;
}

a:hover {
	text-decoration: underline;
	color: #2035b8;
}

ul.sortable
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.sortable li
{
    margin: 0px 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    height: 15px;
}

ul.sortable li span
{
    position: absolute;
    margin-left: -1.3em;
}

input[type=text]
{
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 3px;
}

#add-arg-type-button, #add-return-type-button, #add-class-path-button, #add-end-points-button
{
    margin-right: 5px;
}

ul.sortable li input.item-list-input
{
    position: relative;
    left: 10px;
    bottom: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 3px;
}

input.error, ul.sortable li input.item-list-input.error
{
    background-color: rgba(255, 228, 233, 0.99);
    border-color: red;
    border-style: solid;
    border-width: 1px;
}

ul.sortable li input.item-list-remove-button, #remove-return-type-button
{
    position: relative;
    left: 10px;
    bottom: 5px;
}

b.class
{
	color: #0F4DA8;
	font-family: monospace;
}

b.tt
{
	color: #585858;
    font-family: monospace;
}

th
{
	font-weight: bold;
	font-size: .9em;
	text-align: left;
	background-color: #F2F2F2;
	padding: 5px 5px 5px 5px;
	border: 1px;
	border-style: solid;
	border-color: #EBEBEB;
}

td
{
	vertical-align: text-top;
	font-size: .9em;
	text-align: left;
	line-height: 1.3em;
	border: 1px;
	border-bottom-style: solid;
	border-color: #EBEBEB;
	padding: 5px 15px 5px 5px;
}

.diffuser-signature
{
    font-weight: normal;
    font-family: sans-serif;
    font-size: 1em;
    color: #437DD4;
    background-color: #bcdeff;
    border-color: #437DD4;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;;
    padding: 5px 5px 5px 5px;
    margin:5px;
    cursor:pointer;
}

.diffuser-signature:hover
{
    color: #bcdeff;
    background-color: #437DD4;
    border-color: #bcdeff;
}

.diffuser-remove-button
{
    margin-right: 10px;
}