header, nav, footer, article {display:block;}

body
{
	background-color: #F2F2F2;
}
header
{
	margin-top: 20px;
	margin-left: 210px;
	margin-bottom: 15px;
}
nav 
{
	position: absolute;
	left: 210px;
	font-size: 0.9em;
	font-family: verdana;
}
article 
{
	position: absolute;
	left: 200px;
	top: 125px;
	width: 750px; 
	background-color: #fff;
	font-family: sans-serif;
	line-height: 1.3em;
	padding: 0px 15px 15px 15px;
	border-color: #EBEBEB;
	border-style: none;
	border-width: 1px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 10px #ccc;
}

#toc
{
	position: fixed;
	left: 1px;
	top: 145px;
	width: 185px; 
	background-color: #fff;
	font-family: verdana;
	font-size: 0.9em;
	line-height: 1.3em;
	padding: 0px 5px 5px 5px;
	border-color: #EBEBEB;
	border-style: solid;
	border-width: 1px;
}

footer 
{
	height: 100px;
	margin-top: 20px;
	margin-botton: 20px;
}

h2 {
	background-color:  #f5f5f5;
	padding: 10px 10px 10px 10px;
	font-size: 1.2em;
	border-top: solid 1px #EBEBEB;
	border-left: solid 1px #EBEBEB;
	border-bottom: solid 1px #d2d2d2;
	border-right: solid 1px #d2d2d2;
}

h3 {
	font-size: 1.2em;
	border-bottom: solid 2px #d2d2d2;
}

h4 {
	font-size: 1.1em;
	border-bottom: solid 1px #d2d2d2;
}

h5 {
	font-size: 1em;
}

dt {
	font-weight: bold;
	background-color:  #f5f5f5;
	padding: 10px 10px 10px 10px;
}

p.image, #image
{
	padding: 10px 10px 10px 10px;
}

p.overview_toc, #overview_toc
{
	font-style: italic;
	color: #C67171;
	margin-bottom: 0px;
}

a {
	color: #241c1c;
}

a:link {
	text-decoration: none;
	color: blue;
}

a:visited {
	text-decoration: none;
	color: #121e6c;
}

a:active {
	text-decoration: none;
	color: red;
}

a:hover {
	text-decoration: underline;
	color: #2035b8;
}

ul.overview_toc_list {
	list-style-type: none; 
	font-family: verdana;
	font-size:0.9em;
	padding-left: 5px;
}

b.class
{
	color: darkgreen;
}

b.tt
{
	color: grey;
}

th
{
	font-style: bold;
	font-size: .9em;
	text-align: left;
	background-color: #F2F2F2;
	padding: 5px 5px 5px 5px;
	border: 1px;
	border-style: solid;
	border-color: #EBEBEB;
}

td
{
	vertical-align: text-top;
	font-size: .9em;
	text-align: left;
	line-height: 1.3em;
	border: 1px;
	border-bottom-style: solid;
	border-color: #EBEBEB;
	padding: 5px 15px 5px 5px;
}
